

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

.container {
  display: flex;
  width: 80%;
  height: 450px;
  margin: 150px auto 0 auto;
  border-radius: 10px;
}

.container-1, 
.container-2,
.container-3 {
  padding: 30px;
}

.container-1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

.container-2 {
  background-color: hsl(184, 100%, 22%);
}

.container-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
}

.image {
  margin-left: 5px;
}

.heading {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  margin-top: 20px;
  margin-left: 5px;
}

.paragraph {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 20px;
}

.btn {
  padding: 14px;
  width: 65%;
  margin-left: 5px;
  margin-top: 90px;
  border: 0;
  border-radius: 18px;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;

}

.bright-orange {
  color: hsl(31, 77%, 52%);
}

.cyan {
  color:hsl(184, 100%, 22%)
}

.dark-cyan {
  color:hsl(179, 100%, 13%)
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container-1 {
    border-radius: 10px 10px 0px 0px;
  }
  .container-3 {
    border-radius: 0px 0px 10px 10px;
  }
  .attribution {
    margin-top: 750px;
    margin-bottom: 50px;
  }
} 

@media screen and (min-width: 1000px) {
  .container {
    margin-top: 150px;
    width: 900px;
  }
  
}

